.video {
    width: 100%;
}

.navi {
    background: linear-gradient(to right, #006699, #38b7f7);
}

.navi .nav-item .nav-link {
    color: white;
    font-family: 'Open Sans';
}

.navi .nav-item .nav-link img {
    display: block;
    padding-bottom: 5px;
}

.navi ul {
    padding-left: 60px;
}

.navi .nav-item {
    padding: 0 5px;
    position: relative;
}

.navi .nav-item::before {
    position: absolute;
    width: 0;
    height: 5px;
    bottom: -3px;
    background: #003145;
    content: '';
    transform: translate(-50%, -50%);
    transition: ease-out 0.3s all;
    left: 50%;
}

.navi .nav-item:hover::before {
    width: 100%;
}

.navi .nav-link2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-top: 0px;
    display: block;
    padding: 6px 0;
    /* padding-right: 28px; */
    background: #006699;
    /* width: 0; */
    position: relative;
    /* height: 0; */
    font-family: 'Open Sans';
}

.navi .nav-link2::before {
    content: '';
    width: 0;
    left: 100%;
    position: absolute;
    /* height: 53px; */
    top: 0;
    border-top: 87px solid #006699;
    border-right: 87px solid transparent;
}

.navi .name-product {
    padding: 0;
}

.mode {
    background-image: url('../images/san pham/mode.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 370px;
    background-attachment: fixed;
    position: relative;
}

.mode::before {
    content: '';
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 370px;
}

.mode h1 {
    font-weight: bold;
    color: white;
    font-size: 3rem;
    filter: brightness(300%);
    font-family: 'Open Sans';
}

.mode p {
    color: white;
    filter: brightness(300%);
    font-family: 'Segoe UI';
}

.exterior {
    background-image: url('../images/san pham/mode-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 370px;
    background-attachment: fixed;
    position: relative;
}

.exterior::before {
    content: '';
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 370px;
}

.exterior h1 {
    font-weight: bold;
    color: white;
    font-size: 3rem;
    font-family: 'Open Sans';
    filter: brightness(300%);
}

.exterior p {
    color: white;
    filter: brightness(300%);
    font-family: 'Segoe UI';
}

.fix-img {
    padding-right: 10px;
}

.fix-img img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    object-position: center;
}

.fix-img-fix {
    padding: 0;
}

.fix-fix-img {
    padding-left: 10px;
}

.vehicle-call-to-action {
    background-color: #3399cc;
    float: right;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
}

.vehicle-call-to-action a {
    color: #FFF;
    font-family: 'Open Sans';
    display: block;
    position: relative;
    padding: 10px 50px 10px 20px;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}

.vehicle-call-to-action a:hover {
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.vehicle-call-to-action a small {
    display: block;
}

.vehicle-call-to-action a::after {
    content: "";
    background-image: url('../images/san pham/arowsp.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 80%;
    top: 15px;
    width: 20px;
    color: rgb(255, 255, 255);
    line-height: 47px;
    font-size: 28px;
    z-index: 3;
    height: 30px;
}

.wrapper {
    padding-bottom: 5.5em;
}

.furniture {
    background-image: url('../images/san pham/noi-that.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 370px;
    background-attachment: fixed;
    position: relative;
}

.clear-float {
    clear: both;
}

.furniture h1 {
    font-weight: bold;
    color: white;
    font-size: 3rem;
    filter: brightness(300%);
    font-family: 'Open Sans';
}

.furniture p {
    color: white;
    filter: brightness(300%);
    font-family: 'Segoe UI'
}

.furniture::before {
    content: '';
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 370px;
}

.specifications {
    background-image: url('../images/san pham/thong-so-ky-thuat.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 370px;
    background-attachment: fixed;
    position: relative;
}

.specifications::before {
    content: '';
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 370px;
}

.specifications h1 {
    font-weight: bold;
    color: white;
    font-size: 3rem;
    filter: brightness(300%);
    font-family: 'Open Sans';
}

.specifications p {
    color: white;
    filter: brightness(300%);
    font-family: 'Segoe UI'
}

/* ************************* */

.section-title {
    color: #414141;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
    border-bottom: 1px dashed #C1C1C1;
    font-weight: 800;
    line-height: 45px;
    font-family: 'Open Sans';
}

.toggle-next, .accordion-heading {
    margin: 0 !important;
    font-size: 14px !important;
    color: white !important;
    padding: 12px 12px 12px 40px;
    border-bottom: 2px solid #FFF;
    cursor: pointer;
    background-color: #006699;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-image: url("../images/toggle-open.png");
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Open Sans';
}

.the-content table, .the-content th, .the-content td {
    border: 1px solid #ECECEC;
}

.the-content th, .the-content td {
    padding: 10px 15px;
}

.vehicle-specs .toggle-content {
    display: none;
    padding-left: 0;
}

.toggle-content {
    display: none;
    padding: 0 0 0 40px;
    padding-left: 40px;
}

.fixed-2 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.5 ease-out;
}

.price-list {
    background-image: url('../images/san pham/bang-gia.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 370px;
    background-attachment: fixed;
    position: relative;
}

.price-list::before {
    content: '';
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 370px;
}

.price-list h1 {
    font-weight: bold;
    color: white;
    font-size: 3rem;
    filter: brightness(300%);
    font-family: 'Open Sans';
}

.price-list p {
    color: white;
    filter: brightness(300%);
    font-family: 'Segoe UI'
}